#content{
	width:1280;
	height:588;
	 background:#fff url(http://localhost/thinkmessage/Public/Images/banner.jpg) repeat-y right top;
	
}
form{
	margin-left:300px;
	padding-top:50px;
	
}

form input{
    
    width:500px;
}
form textarea{
    
    width:500px;
    height:400px;
}
form a{
	color:orange;
}
a.out{
	text-decoration:none;
	display:block;
	height:300px;
	width:20px;
	color:white;
	background:orange;
	float:left;
}
a.out:hover{
	color:black;
}
input.submit{
	width:100px;
	margin-left:280px;
	margin-top:30px;
	color:white;
	background-color:orange;
}